* {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Solway', serif;
}
canvas {
    border-radius: 50%;
}

/***** TOP NAVIGATION *****/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #a986e6;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #a986e6;
}

/***** PAGE LAYOUT *****/
.page_body {
    /*background-color: #2b2525;*/
}

.welcome_text {
    color: #930CCD; /* #720590; */
    font-size: 23px;
}

#mymap {
    position:relative
}
.mymap_title {
    position: absolute;
    font-size: 18px;
    color: #ffffff;
}

.mymap_title_nolink {
    position: absolute;
    font-size: 16px;
    color:#A8A8A8; /*  #680891;*/
}

.mymap_title:hover {
    font-weight: bold;
}

.profile_img {
    width: 40%;
    float: left;
    margin: 30px;
    margin-left: 3px;
    margin-top: 50px;
    /*width:170px;
    height:170px;*/
}

.profile_desc {
    /*margin-left: 10px;*/
    margin-right: 15%;
    margin-top: 60px;
    font-size: 19px;
    width: 40%;
    float: right;
}

.page_container {
    margin: 70px;
    color: #e8d3d3;
}

.uxproject .header {
    font-weight: bold;
    font-size: 21px;
}

.uxproject .desc {
    font-size: 19px;
}