body {
    background-image: url('../img/bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center; 
    font-family: Arial, Sans-Serif; 
    color: white;
}

.textContainer {
    margin: 0 auto;
    background-color: #663295;
    opacity: 0.7;
    line-height: 1.5;
    width: 45%;
    border-radius: 11px;
    -webkit-box-shadow: 3px 3px 7px 3px rgba(27,25,25,0.47); 
    box-shadow: 3px 3px 7px 3px rgba(27,25,25,0.47);
}

.header {
    padding-top: 40px;
    font-size: 20px; 
    font-weight: bold;
}

.desc {
    padding-top: 40px;
    font-size: 17px;
    width: 50%; 
    margin-left: calc(50% / 2);
}

.contact {
    padding: 40px 0;
    font-size: 17px; 
    font-weight: bold;
}

.contact h2 {
    display: none;
}
.contact a {
    color: white;
}

.contact p {
    margin: 4px 0;
}

/*********************************************************************************
*    TOP NAVIGATION 
*********************************************************************************/

#main-container {
    font-family: 'Solway', serif;
    position: relative
}

canvas {
    position: absolute;
    left: 43%;
    top: 50px;
    border-radius: 50%;
    /*display: inline-block;*/
}

#mymap {
    position: absolute;
    left: 35%;
}

/* Add a black background color to the top navigation */
.topnav {
    /*background-color: #333;*/
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000;
    border-right: 1.5px solid #000;
}

.topnav:last-child > a {
    border-right: 0;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #a986e6;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #a986e6;
}

/***** PAGE LAYOUT *****/
.page_body {
    /*background-color: #2b2525;*/
    font-family: 'Roboto', sans-serif;
}

.welcome_text {
    color: #930CCD; /* #720590; */
    font-size: 23px;
}
/*
#mymap {
    position:relative
}*/
.mymap_title {
    position: absolute;
    font-size: 18px;
    color: #ffffff;
}

.mymap_title_nolink {
    position: absolute;
    font-size: 16px;
    color:#A8A8A8; /*  #680891;*/
}

.mymap_title:hover {
    font-weight: bold;
}

.profile_img {
    width: 40%;
    float: left;
    margin: 30px;
    margin-left: 3px;
    margin-top: 50px;
    /*width:170px;
    height:170px;*/
}

.profile_desc {
    /*margin-left: 10px;*/
    margin-right: 15%;
    margin-top: 60px;
    font-size: 19px;
    width: 40%;
    float: right;
}

/*********************************************************************************
*    Azure UX Page
*********************************************************************************/

.page_container {
    margin: 70px;
}

.uxproject .header {
    font-weight: bold;
    font-size: 21px;
}

.uxproject .desc {
    font-size: 19px;
}

#project_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 3rem;
}

#project_container .grid-item {
    border: 2px solid red;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********************************************************************************
*    Azure UX Page - Lifecycle
*********************************************************************************/
#lifecycle_create_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 3rem;
}