* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */
#topheader {
  box-shadow: 0px 5px 5px #BABABA;
  margin: 0 0;
  width: 100%;
  height: 200px;
  color: white;
  top: 0;
  position: fixed;
  overflow: hidden;
}
  
#topheader .phone-meta {
  background-color: #522E92;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.phone-icon-wrap {
  height: 100%;
  padding: 5px 10px;
}

.phone-icon {
  height: 100%;
}

#header-time {
  font-size: 3em;
}

#menu-icon-wrap {
  float: left;
  height: 100%;
  padding: 30px 20px;
}

#top-menu {
  display: flex;
  align-items: center;
  height: 70%;
  background-color: #673AB7;
}

#top-menu-title {
  line-height: 120%;
  margin-left: 60px;
  float: left;
  font-size: 4em;
}

/* ------------------------------------- */
/* Messages */
/* ------------------------------------- */
#container {
  margin-top: 200px;
  padding: 0 20px;
}

#message-list {
  overflow: scroll;
  list-style-type: none;
  padding: 0;
}

.tile {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 5px 5px #BABABA;
  margin: 20px 30px 0px 30px;
}

.tile .header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.tile .header .meta {
  margin-left: 30px;
}

.tile .header img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.tile .message {
  font-size: 2em;
  padding: 20px 30px;
}

.tile .author-name {
  font-weight: bold;
  line-height: 40px;
  font-size: 2.2em;
}

.tile .update-time {
  line-height: 40px;
  color: gray;
  font-size: 2em;
}