* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
  }

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */
  path {
    fill: white;
    stroke: white;
  }

  .top-header {
    box-shadow: 0 2px 2px #BABABA;
    margin: 0 0;
    width: 100%;
    height: 200px;
    color: white;
    top: 0;
    position: fixed;
    overflow: hidden;
  }
  
  .top-header .phone-meta {
    background-color: #522E92;
    height: 30%;
    display: flex;
    align-items: center;
  }

  .phone-meta {
    padding: 0 20px;
  }
  .phone-meta-icon-wrap {
    height: 100%;
    padding: 5px 10px;
  }

  .phone-meta-icon {
    height: 100%;
  }

  #header-time {
    font-size: 40px;
  }

  .menu-icon-wrap {
    float: left;
    height: 100%;
    padding: 30px 20px;
  }

  #menu-icon {
    height: 100%;
    width: auto;
  }

  .message-menu {
    display: flex;
    align-items: center;
  }
  .message-menu-title {
    line-height: 120%;
    margin-left: 60px;
    float: left;
    font-size: 4em;
  }

  .top-header .message-menu {
    height: 70%;
    background-color: #673AB7;
  }


/* ------------------------------------- */
/* Messages */
/* ------------------------------------- */


#container {
    border: 1px solid red;
    margin-top: 200px;
    padding: 0 20px;
    width: 100%;
  }

.message-list {
    overflow: scroll;
    list-style-type: none;
    padding: 0;
  }

  .tile {
    width: 100%;
    height: 30%;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 5px 5px #BABABA;
    margin: 20px 30px 0px 30px;
  }

  .tile .header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }
  
  .tile .header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  .tile .header .meta {
    margin-left: 30px;
  }
  
  .tile .message {
    font-size: 2.2em; /* todo: change to 3em */
    padding: 20px 30px;
  }

  .tile .author-name {
    font-weight: bold;
    line-height: 40px;
    font-size: 2.2em; /* todo: change to 3em */
  }
  
  .tile .update-time {
    line-height: 40px;
    color: gray;
    font-size: 2em; /* todo: change to 3em */
  }