* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
  }

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */
  path {
    fill: white;
  }

  .top-header {
    box-shadow: 0 2px 2px #BABABA;
    margin: 0 0;
    width: 500px;
    color: white;
    position: fixed;

  }
  
  .top-header .phone-meta {
    background-color: #522E92;
    height: 25px;
  }

  /* ???  */
  .top-header .img {
    line-height: 120%;
    vertical-align: middle;
  }
/*
  .top-header .phone-meta:after {
      clear: both;
  }*/

  .top-header .message-menu {
    height: 50px;
    background-color: #673AB7;
    font-size: 20px;
  }


/* ------------------------------------- */
/* Messages */
/* ------------------------------------- */
.message-list {
    overflow: scroll;
    list-style-type: none;
    padding: 0;
  }

  .tile:first-child {
      margin-top: 90px;
  }

  .tile {
    width: 400px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 2px #BABABA;
    margin: 10px 0;
  }
  
  .tile .header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
  }
  
  .tile .header .meta {
    margin-left: 70px;
  }
  
  .tile .author-name {
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .tile .update-time {
    margin-top: 5px;
    color: gray;
  }