/* todo: use sans-serif */

body {
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
  }
  
  .cat-list {
    overflow: scroll;
    list-style-type: none;
    padding: 0;
  }
  
  .cat-tile {
    margin: 10px 0;
    /*height: 150px;*/
    width: 100%;
    border: 1px solid purple;
  }
  
  .cat-tile img {
    height: 30px;
    width: 30px;
  }
  
  .top-header {
    box-shadow: 0 2px 2px #BABABA;
    margin: 20px 0;
    width: 500px;
  }
  
  .top-header .phone-meta {
    background-color: #522E92;
    height: 20px;
  }
  
  .top-header .message-menu {
    height: 50px;
    background-color: #673AB7;
    color: white;
    font-size: 20px;
  }
  
  .tile {
    width: 400px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 2px #BABABA;
  }
  
  .tile .header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
  }
  
  .tile .header .meta {
    margin-left: 70px;
  }
  
  .tile .author-name {
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .tile .update-time {
    margin-top: 5px;
    color: gray;
  }