/*

Purple: #9b59b6

/* ------------------------------------- */
/* Basic */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(70, 67, 67);
    font-family: 'Literata', 'Arial', serif;
    font-weight: 300; /* does it work? */
    font-size: 20px;
    text-rendering: optimizeLegibility; /* make font render in perfect way */
}

/* ???? clear after float */
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ------------------------------------- */
/* Reusable code */
/* ------------------------------------- */

.row {
    max-width: 1140px; /* only value with pixels */
    margin: 0 auto; /* to center container. top&bottom: 0, right&left=auto */
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ------- Headings ------- */
h1,
h2,
h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /* make font size relative */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px; /* this is the margin after the 'after' bar */
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #9b59b6;
    content: " "; /* don't want any word to appear */
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------- Paragraphs ------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%; /* so that it'll be centered. 15% 70% 15% */
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------- Icons ------- */
.section-features ion-icon {
    font-size: 350%;
    display: block; /* it'll force line break */
    color: #9b59b6;
    margin-bottom: 10px;
}

/* ------- Links ------- */
a:link,
a:visited {
    color: #9b59b6;

    /* remove default underline */
    text-decoration: none;
    padding-bottom: 1px;

    /* add custom underline */
    border-bottom: 1px solid #9b59b6;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;

    /* remove bottom line, use 'transparent' to make it cleaner  */
    border-bottom: 1px solid transparent;
}

/* ------- Buttons ------- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.8s, border 0.8s, color 0.8s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #9b59b6;   
    border: 2px solid #9b59b6;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #9b59b6;
    color: #9b59b6;
}

.btn:hover,
.btn:active {
    background-color: #804399;
}

.btn-full:hover,
.btn-full:active {
    border: 2px solid #804399;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #804399;
    color: #fff;
}

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */

/* Sets background image as header, this makes it to cover the whole page */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/polarbear.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the view port */
    
    /* Setting this as fixed makes the image stay when Scrolling */
    background-attachment: fixed;
}

/* this should be absolutely positioned. so that it'll be verticaly/horizontally centered */
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%; /* we can use it because this is absolute positon */
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none; /* get rid of bullet points */
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0; /* add spacing betwen the menu text and underline */
    color: #fff;
    text-decoration: none; /* no underline */
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #9b59b6;
}


/* ------------------------------------- */
/* Features */
/* ------------------------------------- */
.section-features .long-copy {
    margin-bottom: 40px;
}

/* ------------------------------------- */
/* Meals */
/* ------------------------------------- */

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    /*display: inline-flex;*/
    display: block; /* important! */
    float: left; /* side by side instead of on next line */
    width: 25%; /* show 4 images each row */
}

.meal-photo {
    width: 100%;
    margin: 0; /* normalize.css defines margin somewhere so need to re-define here */
    overflow: hidden; /* the image in the child container is scaled to 1.15. So set this to hidden so that the width of image does not extend over browser width */
    background-color: #000; /* set the bkg to black so that its child img will have slightly darker color with opacity 0.7 */
}

.meal-photo img {
    opacity: 0.7;
    width: 100%; /* this is to make the image to be wide as its container above */
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s; /* this will make the transition smooth for the Hover properties */
}

/* HOVER works on every element */
.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* ------------------------------------- */
/* How It Works */
/* ------------------------------------- */

.section-steps {
    background-color: #f4f4f4;
}

/* use FIRST-CHILD to get */
.steps-box:first-child {
    /* text-align work for ALL inline (block) elements. IMG is one of inline block element */
    text-align: right;

    /* make layout to be fluid. make all in percentage instead of px to make it responsive */
    padding-right: 3%;

    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

/* this is similar to LAST CHILD */
.works-step:last-of-type {
    margin-bottom: 80px;
}


.works-step div {
    color: #9b59b6;
    
    /* this creates square */
    border: 2px solid #9b59b6;
    
    /* it doesn't force line break */
    display: inline-block;

    /* make it circle */
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    
    /* add padding within the circle */
    padding: 5px;

    /* so that number and text are side by side */
    float: left;

    font-size: 150%;
    margin-right: 25px;
}

/* TODO: what is 'link/visited/active/hover' all possible status?? */
.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    /* margin between buttons */
    margin-right: 10px;
}

/* ------------------------------------- */
/* Cities */
/* ------------------------------------- */

.section-cities ion-icon {
    float: left;
}

.city-feature {
    font-size: 16px;
    margin-bottom: 5px;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.icon-small {
    width: 30px;
    color: #2b59b6;

    display: inline-block;

    text-align: center;
    font-size: 120%;
    margin-right: 10px;

    /* Secret to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: 2px; /* you can use negative value here */
}


/* ------------------------------------- */
/* Testimonials */
/* ------------------------------------- */
.section-testimonials {
    /* Set the background image by setting the value directly here in CSS */
    /* the file should be in CSS */
    /* set linear-gradient so that it's darker, set alpha as 0.8 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/back-customers.jpg');
    
    /* set the image to span the whole background width */
    background-size: cover;

    color: #fff;

    /* Setting this as fixed makes the image stay when Scrolling */
    background-attachment: fixed;
}

/* Huge quotation mark */
/* ?? why, Need to get the code from https://css-tricks.com/snippets/html/glyphs/ */
blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;

    /* Need to make sure the Parent is relative */
    position: absolute;
    top: -10px;
    left: -35px;
}

blockquote {
    padding: 2%;

    /* Make sure Italic style is imported in index.html */
    font-style: italic;

    line-height: 160%;

    /* setting it to relative because 'before' element has absolute position */
    position: relative;

    margin-top: 40px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    
    /* make image in circle */
    border-radius: 50%;
    margin-right: 10px;
    
    /* IMG and text align in the middle */
    vertical-align: middle;
}


/* ------------------------------------- */
/* SIGN UP */
/* ------------------------------------- */

.section-plans {
    background-color: #f4f4f4;   
}

/* Remove bullet points from unordered list */
.section-plans ul {
    list-style-type: none;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    
    /* Center it in the parent */
    margin-left: 5%;

    /* !! Add box shadow !!  */
    /* x, y - axis, blur */
    box-shadow: 0 2px 2px #e8e8e8;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-price {
    /* Make it big */
    font-size: 200%;
    margin-bottom: 10px;

    /* Reduce the weight if too overwhelming */
    font-weight: 100;

    color: #b65978;
}

/* this inherits style from the parent */
/* The parent is .plan-price. so if you set size as 100%, it's still big because it gets it from 300% */
.plan-price span {
    /* this is 30% of 300% */
    font-size: 50%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul li {
    /* ?? if you use PADDING, it gives more space compared to MARGIN */
    padding: 5px 0;
}

.plan-box div:first-child {
    background-color: #fcfcfc;

    /* ?? this doesn't seem to work! */
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}
.plan-box div:last-child {
    /* align the button in the center */
    text-align: center;
    
    /* the last element shouldn't have border line */
    border: 0;
}