/*

Purple: #9b59b6

/* ------------------------------------- */
/* Basic */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(70, 67, 67);
    font-family: 'Literata', 'Arial', serif;
    font-weight: 300; /* does it work? */
    font-size: 20px;
    text-rendering: optimizeLegibility; /* make font render in perfect way */
}

/* ------------------------------------- */
/* Reusable code */
/* ------------------------------------- */

.row {
    max-width: 1140px; /* only value with pixels */
    margin: 0 auto; /* to center container. top&bottom: 0, right&left=auto */
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ------- Headings ------- */
h1,
h2,
h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /* make font size relative */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px; /* this is the margin after the 'after' bar */
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #9b59b6;
    content: " "; /* don't want any word to appear */
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ------- Paragraphs ------- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%; /* so that it'll be centered. 15% 70% 15% */
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ------- Icons ------- */
ion-icon {
    font-size: 350%;
    display: block; /* it'll force line break */
    color: #9b59b6;
    margin-bottom: 10px;
}

/* ------- Buttons ------- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.8s, border 0.8s, color 0.8s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #9b59b6;   
    border: 2px solid #9b59b6;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #9b59b6;
    color: #9b59b6;
}

.btn:hover,
.btn:active {
    background-color: #804399;
}

.btn-full:hover,
.btn-full:active {
    border: 2px solid #804399;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #804399;
    color: #fff;
}

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/polarbear.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; /* 100% of the view port */
}

/* this should be absolutely positioned. so that it'll be verticaly/horizontally centered */
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%; /* we can use it because this is absolute positon */
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none; /* get rid of bullet points */
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0; /* add spacing betwen the menu text and underline */
    color: #fff;
    text-decoration: none; /* no underline */
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #9b59b6;
}

/* ------------------------------------- */
/* Meals */
/* ------------------------------------- */

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    /*display: inline-flex;*/
    display: block; /* important! */
    float: left; /* side by side instead of on next line */
    width: 25%; /* show 4 images each row */
}

.meal-photo {
    width: 100%;
    margin: 0; /* normalize.css defines margin somewhere so need to re-define here */
}

.meal-photo img {
    width: 100%; /* this is to make the image to be wide as its container above */
    height: auto;
}